#front-page {
    height: 90vh;
    background-image: url(/img/contact__\ back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projectSections .card{
    flex-direction: row !important;
}

.font-10{
    font-size: 10px;
}

.projectSections .pl-0{
    padding-left: 0 !important;
}

.projectSections{
    margin-top: 100px !important;
}
/* .list-group-horizontal>.list-group-item+.list-group-item {
    border-top-width: 1px;
    border-left-width: 0;
} */